html, body{
    height: 100%;
}

body{
    text-align: center;
}

.typewrite{
    font-size: 90px;
    color: black;
}

/*.landing-page{
    background-image: url("/img/6.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 80vh;
    z-index: -10;
}*/

/*#background-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}*/

#banner{
    width: 100%;
    height: 0px;
    position: absolute;
    top: 100px;
}

a:hover{
    text-decoration: none;
    color: yellow;
}

.github-link, .linkedin-link, .resume-link{
    width: 33%;
    float: left;
    margin-top: 300px;
    text-decoration: none;
    font-size: 18px;
}

.content .icon{
    z-index: 10;
    position: relative;
}
